@*@model PagedList.IPagedList<Kalokyris_George_Assignment_2.Models.Trainer>*@

@model Kalokyris_George_Assignment_2.Models.SearchModel


@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<div style="text-align:center;">
    <p><h2><del>The office cast</del></h2></p>
    <h2>Private School Trainers</h2>
</div>
<p>
    @Html.ActionLink("Create New Trainer", "Create")
</p>

@using (Html.BeginForm("Index", "Trainer", FormMethod.Get))
{
    <p>
        First Name: @Html.TextBox("firstName")
        Last Name: @Html.TextBox("lastName")
        Salary(£): @Html.TextBox("salary", "")
        Hire Year: @Html.DropDownList("Year", "All")
    </p>
    <input type="submit" class="btn btn-primary" />
    @Html.ActionLink("Clear", "Index", "", new { @class = "btn btn-secondary" })
}



<table style="border-width:thick; margin-top:20px;" class="table table-bordered", new >
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.Salary, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Hire Date", "Index", new { sortOrder = ViewBag.HireDate, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Trainer Available", "Index", new { sortOrder = ViewBag.TrainerAvailable, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Label("Categories")
        </th>

        <th>Actions</th>
    </tr>

    @foreach (var item in Model.trains)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                <ul>
                    @foreach (var cat in item.Categories)
                    {
                        <li>@cat.Title</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrainerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TrainerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TrainerId })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model.trains, page => Url.Action("Index", new
{
    page,
    sortOrder = Model.sorting,
    firstName = Model.sFirstName,
    lastName = Model.sLastName,
    Year = Model.sHireYear,
    salary = Model.sSalary
}))
